/*******************

  MAIN STYLES

*******************/


html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: "Orbitron", helvetica, sans-serif;
  line-height: 1.2em;
}

body {
  background-image: url("/bg-large.jpg");
  background-size: cover;
  color: #b0740a;
}

a {
  text-decoration: none;
  color: #b0740a;
}

a:hover {
color: rgba(176, 116, 10, 0.5);
}

ul {
  padding: 0;
}

/*******************

 HEADER STYLES

 *******************/

 header {
   border-bottom: 20px solid #b0740a;
   height: 11%;
   margin: 0;
   padding: 0;
 }

 #hero {
   font-size: 2.2em;
   float: left;
   margin: 40px 20px;
   font-weight: 700;
   color: #b0740a;
 }

 #login-button {
   width: 50px;
   display: inline-block;
   float: right;
   margin: 55px 20px;
   font-family: "Orbitron", helvetica, sans-serif;
   font-size: 0.8em;
   background-color: rgba(46, 24, 1, 0);
   color: #b0740a;
   border: none;
 }

 #login-button:hover {
   color: rgba(176, 116, 10, 0.5);
 }

 #logout-button {
   display: inline;
   float: right;
   margin: 55px 20px 50px 0;
   font-family: "Orbitron", helvetica, sans-serif;
   font-size: 0.8em;
   background-color: rgba(46, 24, 1, 0);
   color: #b0740a;
   border: none;
 }

 #logout-button:hover {
   color: rgba(176, 116, 10, 0.5);
 }

 #profile-button {
   display: inline;
   float: right;
   margin: 55px 20px 50px 0;
   font-family: "Orbitron", helvetica, sans-serif;
   font-size: 0.8em;
   background-color: rgba(46, 24, 1, 0);
   color: #b0740a;
   border: none;
 }

 #profile-button:hover {
   color: rgba(176, 116, 10, 0.5);
 }

/*******************

  FORM STYLES

*******************/

#sign-in, #new-user {
  width: 50%;
  margin: 0 auto;
  text-align: center;
}

input, textarea {
  font-family: "Orbitron", helvetica, sans-serif;
  background-color: rgba(46, 24, 1, 0.8);
  color: #b0740a;
  border: 1px solid #b0740a;
  border-radius: 5px;
  width: 70%;
  height: 40px;
  margin: 5px auto;
  font-size: 0.8em;
}

input:focus, textarea:focus {
  outline: none;
}

/*******************

  BODY STYLES

*******************/

#welcome {
  text-align: center;
  margin-top: 60px;
  text-shadow: -1px -2px 2px rgba(46, 24, 1, 1);
}

#welcome-message {
  font-size: 3.2em;

}

#sign-up-button {
  width: 180px;
  height: 70px;
  font-weight: 700;
  font-size: 2em;
  border-raidus: 5px;
}

#sign-up-button:hover {
  color: rgba(176, 116, 10, 0.5);
}

#sign-up-button:focus {
  background-color: #b0740a;
  color: rgba(46, 24, 1, 0.8);
}

#scrollfix {
  width: 70%;
  height: 60%;
  margin: 50px auto;
  background-color: rgba(46, 24, 1, 0.8);
  border-radius: 10px;
  border: 1px solid #b0740a;
  overflow: hidden;
}

#main-content {
  width: 100%;
  height: 100%;
  background-color: rgba(46, 24, 1, 0);
  border-radius: 10px;
  overflow-y: auto;
}

#main-content h1 {
  text-align: center;
}

.index {
  list-style: none;
  margin-top: 30px;
}

.index li {
  margin: 0 80px 30px 80px;
  border-bottom: 1px solid #b0740a;
}

#instance-title {
  border-bottom: 1px solid #b0740a;
  padding-bottom: 10px;
  margin-bottom: 0;
}

.danger {
  display: inline-block;
  padding: 2px 5px 0px 5px;
  color: #f00;
  border: 1px solid #f00;
  border-radius: 5px;
  text-align: center;
  margin-top: 20px;
}

#success-message {
  text-align: center;
}
.success {
  display: inline-block;
  padding: 2px 5px 0px 5px;
  color: green;
  border: 1px solid green;
  border-radius: 5px;
  text-align: center;
  margin-top: 5px;
}

#check {
  font-family: sans-serif;
}

#posts {
  margin-left: 80px;
}

#posts-span {
  float: right;
}

#post-user {
  font-weight: 700;
  border-radius: 5px;
  padding: 5px;
  margin-bottom: 10px;
  margin-left: -15px;
  display: inline-block;
}

#post-avatar {
  height: 20px;
  border: 1px solid #b0740a;
  border-radius: 50%;
}

#destination-description {
  padding: 10px 80px;
  border-bottom: 1px solid #b0740a;
}

#destination-banner {
  height: 100px;
}

#destination-banner img {
  width: 100%;
  height: 100%;
}

#add-post {
  text-align: center;
}

#add-post-button {
  margin: 15px auto;
  display: inline-block;
  width: 25%;
}

#add-post-button:focus {
  background-color: #b0740a;
  color: rgba(46, 24, 1, 0.8);
}

#add-post-button:hover {
  color: rgba(176, 116, 10, 0.5);
}

/*******************

  FOOTER STYLES

*******************/

footer {
  text-align: center;
  height: 8%;
}

#footer-buttons {
  text-align: center;
  margin: 0 auto;
  width: 50%;
  height: 100%;
  background-color: rgba(46, 24, 1, 0);
}

.footer-button {
  color: #b0740a;
  background-color: rgba(46, 24, 1, 0);
  width: 50%;
  display: inline-block;
  float: left;
  font-size: 1em;
  border: none;
}

.footer-button:hover {
  color: rgba(176, 116, 10, 0.5);
}
